# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.


╔══════════════════════════════════════════════════════════╗
║     __  __    _    _____ ___    _              ____   _____   __   ║
║  |  \/  |  / \  |  ___|_ _|  / \            | __ ) / _ \ \ / /     ║
║  | |\/| | / _ \ | |_   | |  / _ \    _____  |  _ \| | | \ V /      ║
║  | |  | |/ ___ \|  _|  | | / ___ \  |_____| | |_) | |_| || |       ║
║  |_|  |_/_/   \_\_|   |___/_/   \_\         |____/ \___/ |_|       ║  
║                                                                    ║
║                                                                    ║
╠══════════════════════════════════════════════════════════╣
║ Tools Founder of Foysal Ebne Fahim ( Mafia Boy 😎)                 ║
╠══════════════════════════════════════════════════════════╣
║    GITHUB : GITHUB.COM/fahim2508                                   ║
║ FB Group : Termux Free Working Command                             ║
╚══════════════════════════════════════════════════════════╝
       
